<td><input type="checkbox" name="check" id="" class='check' value="{$dat.id}"></td>
<td>{$dat.id}</td>
<td>{$dat.username}</td>
<td>{$dat.password}</td>
<td>{$dat.lastlogin==0?'从未登录':date('Y-m-d H:i:s',$dat.lastlogin)}</td>
<td>{$dat.num}</td>
<td>
  {if condition="$dat.status eq '0'"}
  <a href="javascript:;" class='btn btn-danger'>禁用</a>
  {else /}
   <a href="javascript:;" class='btn btn-success'>正常</a>
  {/if}
</td>
<td><a href="javascript:;" onclick='del({$dat.id},this)' class='btn btn-danger'>删除</a> <a href="javascript:;" class='btn btn-info'data-toggle="modal" data-target="#updateForm" onclick='find({$dat.id})'>修改</a></td>