<div class='Youce_GouB'>
    <div class='Youce_GouBTop'>
        <input type="checkbox" name="" id="" class='chkbox'>
        <img src="__STATIC__/public/img/TB1ziRwRpXXXXcAXFXXXXXXXXXX-23-12.png" alt="">
        <span class='Youce_GouBTopA'>鑫然华数码专营店</span>
        <span class='Youce_GouBTopB'>￥{$shops.price}</span>
    </div>
    <div class='Youce_GouBBottom'>
        <div class='Youce_GouBBottomA'>
            <input type="checkbox" name="" id="" class='chkbox'>
        </div>
        <div class='Youce_GouBBottomB'>
            <img src="__STATIC__/upload/shop/{$shops.img}" alt="">
        </div>
        <div class='Youce_GouBBottomC'>
            <p title='{$shops.sname}' class='Youce_GouBBottomCA'>{$shops.sname}</p>
            <p title='{$shops.introduce}'>{$shops.introduce}</p>
        </div>
        <div class='Youce_GouBBottomD'>
            <span>{$shops.num}</span>
        </div>
        <div class='Youce_GouBBottomE'>
            <span>￥{$shops.price}</span>
        </div>
        
    </div>
</div>