{layout name='layout'}
<style>
	.breadcrumb {
		margin-bottom:0;
	}
  .fenye{
  text-align:center;
}
table div{
	width:100px;
	height:60px;
	overflow:hidden;
}
.modal-lg {
    width: 230px;
    }
</style>
<div class="breadcrumb">
  <li><a href="{:url('index/index')}">首页</a></li>
  <li><a href="{:url('Dindan/index')}">订单管理</a></li>
  <li><a href="">下单商品</a></li>
  <li class="pull-right"><a href=""><span class="glyphicon glyphicon-refresh"></span></a></li>
</div>
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">
  	<form class="form-inline pull-left">
  	  <div class="form-group">
  	    <input type="text" class="form-control" id="exampleInputPassword3" placeholder="" name='search'>
  	  </div>
  	  <button type="submit" class="btn btn-default">搜索</button>
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
  	</form>
    <button class='btn btn-success Quanping'>全屏查看</button>
    <button class='btn btn-success QuanpingOut' style='display:none'>退出全屏</button>
    <div class="pull-right" style="margin-top:5px;margin-left: 25px;">共有<b id="tot">{$tot}</b>条数据</div>
  </div>
  
  <!-- Table -->
   <table class='table table-hover '>
    <tr>
      <th >编号</th>
      <th>商品名称</th>
      <th>图片</th>
      <th>颜色</th>
      <th>内存</th>
      <th>商品价格</th>
      <th>数量</th>
      <th>合计</th>
    </tr>
    {volist name='data' id='dat'}
    <tr>
      <td>{$dat.id}</td>
      <td>{$dat.sname}</td>
      <td class='shopImg'><img src="__STATIC__/upload/shop/{$dat.img}" alt="" width='50px' data-toggle="modal" data-target=".bs-example-modal-lg"></td>
      <td>{$dat.color}</td>
      <td>{$dat.neicun}</td>
      <td>￥{$dat.price}</td>
      <td>{$dat.num}</td>
      <td>￥{$dat.price * $dat.num}</td>
    </tr>
    {/volist}

   </table>
</div>
<div class='fenye'>
  {$page}
</div>
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content shopImgBig">
      <img src="__STATIC__/upload/brandbgimg/" alt="" style='width:230px;height:230px' >
    </div>
  </div>
</div>
<script>
$('.shopImg').click(function(){
  a=$(this).children().attr('src')
  $('.shopImgBig').children().attr('src',a);
})
</script>