{layout name="layout" }
<style>
  .breadcrumb {
     margin-bottom: 0px; 
}
.fenye{
  text-align:center;
}
.pagination {
     margin: 10px 0; 
}
</style>
<div class="breadcrumb">
  <li><a href="{:url('index/index')}">首页</a></li>
  <li><a href="">数据恢复</a></li>
  <li><a href="">管理员数据恢复</a></li>
  <li class="pull-right"><a href=""><span class="glyphicon glyphicon-refresh"></span></a></li>
</div>
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">
  	<form class="form-inline pull-left">
  	  <div class="form-group">
  	    <input type="text" class="form-control" id="exampleInputPassword3" placeholder="" name='search'>
  	  </div>
  	  <button type="submit" class="btn btn-default">搜索</button>
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
  	</form>
    <button class='btn btn-warning' onclick='MdataAll()'> <span class='glyphicon glyphicon-transfer'></span> 批量恢复</button>
    <button class='btn btn-danger' onclick='MdelAll()'> <span class='glyphicon glyphicon-trash'></span> 批量删除</button>
    <button class='btn btn-success Quanping'>全屏查看</button>
    <button class='btn btn-success QuanpingOut' style='display:none'>退出全屏</button>
    <div class="pull-right" style="margin-top:5px;margin-left: 25px;">共有<b id="tot">{$tot}</b>条数据</div>

  </div>
  
  <!-- Table -->
   <table class='table table-hover '>
   	<tr class="success" >
      <th><label for="checkAll"><input type="checkbox" name="checkAll" id="checkAll">全选</label></th>
   		<th>编号</th>
   		<th>用户名</th>
   		<th>密码</th>
      <th>最后一次登录时间</th>
      <th>登录次数</th>
      <th>状态</th>
   	  <th>操作</th>   
   	</tr>
    {volist name='data' id='dat'}
    <tr id='tr{$dat.id}'>
      <td><input type="checkbox" name="check" id="" class='check' value="{$dat.id}"></td>
      <td>{$dat.id}</td>
      <td>{$dat.username}</td>
      <td>{$dat.password}</td>
      <td>{$dat.lastlogin==0?'从未登录':date('Y-m-d H:i:s',$dat.lastlogin)}</td>
      <td>{$dat.num}</td>
      <td>
        {if condition="$dat.status eq '0'"}
        <a href="javascript:;" class='btn btn-danger'>禁用</a>
        {else /}
         <a href="javascript:;" class='btn btn-success'>正常</a>
        {/if}
      </td>
      <td>
        <a href="javascript:;" class='btn btn-info' onclick='Mdatafu({$dat.id},this)'>恢复</a> &nbsp;<a href="javascript:;" onclick='Mdel({$dat.id},this)' class='btn btn-danger'>删除</a> </td>
    </tr>
    {/volist}
   </table>
</div>
<div class='fenye'>
  {$page}
</div>
<script>
  function Mdatafu(id,obj){
    $.post('{:url("ajax_Mdatafu")}',{id:id},function(data){
       if(data==1){
        $(obj).parent().parent().hide();
         tot=parseInt($('#tot').html());
         $('#tot').html(--tot);
       }else{
        alert('恢复失败!');
       }
    });
  }
  function Mdel(id,obj){
    var a= confirm('您确认删除吗?');
    if(a==true){
       $.post('{:url("ajax_Mdel")}',{id:id},function(data){
        if(data==1){
         $(obj).parent().parent().hide();
         tot=parseInt($('#tot').html());
         $('#tot').html(--tot);
        }else{
         alert('删除失败!');
        }
       });
    }else{
      return;
    }
     
  }
  // 批量恢复
  function MdataAll(){
   datas=$('.check:checked');
   arr=new Array();
   for(i=0;i<datas.length;i++){
     arr[i]=datas.eq(i).val();
   }
   str=arr.join(',',arr);
   $.post('{:url("ajax_MdataAll")}',{str:str},function(data){
      if(data==1){
        for(i=0;i<=arr.length;i++){
          $('#tr'+arr[i]).remove();
        }
      }
   });

  }
  // 批量删除
  $('#checkAll').click(function(){
    $('.check').click();
  });
  function MdelAll(){
   datas=$('.check:checked');
   arr=new Array();
   for(i=0;i<datas.length;i++){
     arr[i]=datas.eq(i).val();
   }
   str=arr.join(',',arr);
   $.post('{:url("ajax_MdelAll")}',{str:str},function(data){
      if(arr.length==data){
        for(i=0;i<=arr.length;i++){
          $('#tr'+arr[i]).remove();
        }
      }
   });

  }

</script>
