<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>购买成功!</title>
  <link href="__STATIC__/public/img/TB1XlF3RpXXXXc6XXXXXXXXXXXX-16-16.png" rel="shortcut icon" type="image/x-icon"/>
	<link rel="stylesheet" href="__STATIC__/public/css/index.css">
    <link rel="stylesheet" href="__STATIC__/public/css/style.css">
	<link rel="stylesheet" type="text/css" href="__STATIC__/public/css/iconfont.css">
	<script src='__STATIC__/bs/js/jquery.min.js'></script>
    <script src='__STATIC__/public/js/index.js'></script>
</head>
<body>
<div class='main'>
   {include file='index/header1'} 
    <div class='clear'></div>
    <div class='product_Hr'></div>
    <div class='shopWin_content'>
      <div class='shopWin_Cboth'>
        <div class='shopWin_Ctop'>
          <div class='shopWin_Cleft'>
             <i class="iconfont icon-success"></i>
          </div>
          <div class='shopWin_Cright'>
            <p>
              您以成功付款
            </p>
          </div>
        </div>
        <div class='shopWin_Cbottom'>
          <ul>
            <li>
              <span>
                实付款: <i class='shopWin_CbottomA'>￥{$data.tot}</i>
              </span>
            </li>
             <li>
               <span>
                 收货地址: <i class='shopWin_CbottomB'>{$data.province}{$data.city}{$data.county}{$data.addr}</i>
               </span>
            </li>
             <li>
              <span>
                预计08月08日到达
              </span>
            </li>
             <li>
              <span>
                订单号: <i class='shopWin_CbottomC'>{$data.code}</i>
              </span>
            </li>
          </ul>
          <p>
            您可以 &nbsp;<a href="{:url('person/indent')}">查看已买到的宝贝</a> &nbsp; <a href="javascript:;">查看交易详情</a>
          </p>
        </div>
        <div class='shopWin_CbottomBotm'>
          <div class='shopWin_CbottomBotmBoth'>
            <b>
              安全提醒:
            </b>
            <span>下单后, &nbsp;</span>
            <span class='shopWin_CbottomBotmBothA'>用QQ给您发送链接办理退款的都是骗子！</span>
            <span>天猫不存在系统升级，订单异常等问题，谨防假冒客服电话诈骗！</span>
          </div>
        </div>
      </div>
      
    </div>
    <div class='clear'></div>
    {include file='index/footer'} 
 </div>      
</body>
<script>
</script>

</html>