{layout name="layout" }
<style>
  .breadcrumb {
     margin-bottom: 0px; 
}
.fenye{
  text-align:center;
}
.pagination {
     margin: 10px 0; 
}
</style>
<div class="breadcrumb">
  <li><a href="{:url('index/index')}">首页</a></li>
  <li><a href="">轮播管理</a></li>
  <li><a href="">查看轮播</a></li>
  <li class="pull-right"><a href=""><span class="glyphicon glyphicon-refresh"></span></a></li>
</div>
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">
  	<form class="form-inline pull-left">
  	  <div class="form-group">
  	    <input type="text" class="form-control" id="exampleInputPassword3" placeholder="" name='search'>
  	  </div>
  	  <button type="submit" class="btn btn-default">搜索</button>
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
  	</form>
    <a href="{:url('Lunbo/add')}" class='btn btn-info'> <span class='glyphicon glyphicon-plus'></span>添加轮播</a>
    <button class='btn btn-success Quanping'>全屏查看</button>
    <button class='btn btn-success QuanpingOut' style='display:none'>退出全屏</button>
    <div class="pull-right" style="margin-top:5px;margin-left: 25px;">共有<b id="tot">{$tot}</b>条数据</div>
  </div>
  
  <!-- Table -->
   <table class='table table-hover '>
   	<tr >
       <th>编号</th>
       <th>图片</th>
       <th>链接</th>
       <th>排序</th>
       <th>操作</th>
   	</tr>
    {volist name='data' id='dat'}
    <tr>
      <td>{$dat.id}</td>
      <td class='LunboImg'><img src="__STATIC__/upload/lunbo/{$dat.img}" alt="" style='width:200px;height:50px;cursor: pointer;' data-toggle="modal" data-target=".bs-example-modal-lg"></td>
      <td>{$dat.href}</td>
      <td><input type="text" name='sort' value='{$dat.sort}' onblur='sort({$dat.id},this)' style='border:none;outline:none'></td>
      <td><a href="{:url('del',array('id'=>$dat.id))}" class='btn btn-danger'  onclick='return confirm(" 您确认删除吗? ")'>删除</a>&nbsp;<a href="{:url('edit',array('id'=>$dat.id))}"class='btn btn-info'>修改</a></td>
    </tr>
    {/volist}

   </table>
</div>
<div class='fenye'>
{$page}
</div>
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content LunboImgBig">
      <img src="__STATIC__/upload/lunbo/" alt="" style='width:1000px;height:300px' data-toggle="modal" data-target=".bs-example-modal-lg">
    </div>
  </div>
</div>
<script>
// 排序
function sort(id,obj){
  val=$(obj).val();
   $.post('{:url("ajax_sort")}',{id:id,sort:val},function(data){
    if(data){
      $(obj).val(val);
      location.reload();
    }
   });
} 
$('.LunboImg').click(function(){
  a=$(this).children().attr('src')
  $('.LunboImgBig').children().attr('src',a);
})
</script>



	
