<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>我的拍卖!</title>
  <link href="__STATIC__/public/img/TB1XlF3RpXXXXc6XXXXXXXXXXXX-16-16.png" rel="shortcut icon" type="image/x-icon"/>
	<link rel="stylesheet" href="__STATIC__/public/css/index.css">
    <link rel="stylesheet" href="__STATIC__/public/css/style.css">
    <link rel="stylesheet" href="__STATIC__/public/css/indent.css">
	<link rel="stylesheet" type="text/css" href="__STATIC__/public/css/iconfont.css">
	<script src='__STATIC__/bs/js/jquery.min.js'></script>
    <script src='__STATIC__/public/js/person.js'></script>
</head>
<body>
<div class='main'>
   {include file='index/header3'}
    <div class='person_content'>
      <div class='person_top'>
        <div class='person_top_both'>
          <a href="#">
            <div class='person_top_both_a'>
              
            </div>
          </a>
          <div class='person_top_both_b'>
            <ul>
              <li>
                <span>
                  首页
                </span>
              </li>
              <li class='person_top_both_b1'>
                <span>
                  账户设置
                </span>
                <div class='person_top_both_b2'>
                  <dl class='person_top_both_b3'>
                    <dt>安全设置</dt>
                    <dd>
                      <a href="">
                        修改登录密码
                      </a>
                    </dd>
                    <dd>
                      <a href="">
                        手机绑定
                      </a>
                    </dd>
                    <dd>
                      <a href="">
                        密保问题设置
                      </a>
                    </dd>
                    <dd>
                      <a href="">
                        其他
                      </a>
                    </dd>
                  </dl>
                  <dl class='person_top_both_b4'>
                    <dt >个人资料</dt>
                    <dd>
                      <a href="#">
                        收货地址
                      </a>
                    </dd>
                    <dd>
                      <a href="">
                        修改头像、昵称
                      </a>
                    </dd>
                    <dd>
                      <a href="">
                        消息提醒设置
                      </a>
                    </dd>
                  </dl>
                  <dl class='person_top_both_b5'>
                    <dt>账号绑定</dt>
                    <dd>
                      <a href="">
                        支付宝绑定
                      </a>
                    </dd>
                    <dd>
                      <a href="">
                        微博绑定
                      </a>
                    </dd>
                    <dd>
                      <a href="">
                        分享绑定
                      </a>
                    </dd>
                  </dl>
                </div>
              </li>
              <li>
                <span>
                  消息
                </span>
              </li>

            </ul>
          </div>
          <div class='person_top_both_c'>
            <input type="text">
            <button>搜索</button>
          </div>
        </div>
      </div>
    </div>
   <div class="indent_content">
    <div class='indent_left'>
      <dl>
        <dt>全部功能</dt>
        <dd>
          <a href="">我的购物车</a>
        </dd>
        <dd >
          <a href="">
            已买到的宝贝
          </a>
        </dd>
        <dd class='indent_left_a'>
          <a href="">
            我的拍卖
          </a>
        </dd>
        <dd>
          <a href="">
            机票酒店保险
          </a>
        </dd>
        <dd>
          <a href="">
            我的彩票
          </a>
        </dd>
        <dd>
          <a href="">
            我的游戏
          </a>
        </dd>
        <dd>
          <a href="">
            官方集运
          </a>
        </dd>
        <dd>
          <a href="">购买过得店铺</a>
        </dd>
        <dd>
          <a href="">
            我的发票
          </a>
        </dd>
        <dd>
          <a href="">
            我的收藏
          </a>
        </dd>
        <dd>
          <a href="">我的积分</a>
        </dd>
        <dd>
          <a href="">我的优惠券</a>
        </dd>
        <dd>
          <a href="">
            评价管理
          </a>
        </dd>
        <dd>
          <a href="">
            退款维权
          </a>
        </dd>
        <dd>
          <a href="">
            退款管理
          </a>
        </dd>
        <dd>
          <a href="">
            售后管理
          </a>
        </dd>
        <dd>
          <a href="">
            投诉管理
          </a>
        </dd>
        <dd>
          <a href="">我的足迹</a>
        </dd>
        <dd>
          <a href="">
            流量钱包
          </a>
        </dd>
      </dl>
    </div>
    <div class="auction_right">
      <div class='auction_Top'>
        <img src="__STATIC__/public/img/TB1Dol1nr_I8KJjy1XaXXbsxpXa-823-89.jpg" alt="">
      </div>
      <div class='auction_TopTwo'>
        <p>
          司法拍卖房产，专业律所出具调查报告>>>
        </p>
      </div>
      <div class='auction_TopThree'>
        <ul>
          <li class='auction_TopThreeA'>
            <a href="" class='auction_TopThreeB'>
              参拍宝贝
            </a>
            <span>
              |
            </span>
          </li>
          <li>
            <a href="">
              已拍下
            </a>
            <span>
              |
            </span>
          </li>
          <li>
            <a href="">
              保证金/变卖预缴款 
            </a>
            <span>
              |
            </span>
          </li>
          <li>
            <a href="">
             我的贷款 
            </a>
            <span>
              |
            </span>
          </li>
          <li>
            <a href="">
            我的提醒 
            </a>
            <span>
              |
            </span>
          </li>
          <li>
            <a href="">
              提醒设置 
            </a>
          </li>
        </ul>
      </div>
      <div class='auction_TopFore'>
        <div class='auction_TopForeA'>
          <div class='auction_TopForeB'>
            <a href="">
              <img src="__STATIC__/public/img/TB21ScIXxuTBuNkHFNRXXc9qpXa_!!0-paimai.jpg_160x160.jpg" alt="">
            </a>
          </div>
          <div class='auction_TopForeC'>
            <a href="">
              《陋室铭》 纯狼毫 工艺美术
            </a>
          </div>
           <div class='auction_TopForeD'>
            <p>
              当前价: <span>￥2656</span>
            </p>
          </div>
           <div class='auction_TopForeE'>
            <p>
              距结束:
              <span class="ad">00</span>  
              <span class="ah">00</span>  
              <span class="am">00</span>  
              <span class="as">00</span>  
            </p>
          </div>
           <a href="">
              <div class='auction_TopForeF'>
                <span>正在进行</span>
             </div>
           </a>
        </div>
        <div class='auction_TopForeA'>
          <div class='auction_TopForeB'>
            <a href="">
              <img src="__STATIC__/public/img/TB2BfY0XpooBKNjSZPhXXc2CXXa_!!0-paimai.jpg_160x160.jpg" alt="">
            </a>
          </div>
          <div class='auction_TopForeC'>
            <a href="">
              《陋室铭》 纯狼毫 工艺美术
            </a>
          </div>
           <div class='auction_TopForeD'>
            <p>
              当前价: <span>￥2656</span>
            </p>
          </div>
           <div class='auction_TopForeE'>
            <p>
              距结束:
              <span class="ad">00</span>  
              <span class="ah">00</span>  
              <span class="am">00</span>  
              <span class="as">00</span> 
            </p>
          </div>
           <a href="">
              <div class='auction_TopForeF'>
                <span>正在进行</span>
             </div>
           </a>
        </div>
        <div class='auction_TopForeA'>
          <div class='auction_TopForeB'>
            <a href="">
              <img src="__STATIC__/public/img/TB28ZKtbKuSBuNjSsziXXbq8pXa_!!0-paimai.jpg_160x160.jpg" alt="">
            </a>
          </div>
          <div class='auction_TopForeC'>
            <a href="">
              《陋室铭》 纯狼毫 工艺美术
            </a>
          </div>
           <div class='auction_TopForeD'>
            <p>
              当前价: <span>￥2656</span>
            </p>
          </div>
           <div class='auction_TopForeE'>
            <p>
              距结束:
              <span class="ad">00</span>  
              <span class="ah">00</span>  
              <span class="am">00</span>  
              <span class="as">00</span> 
            </p>
          </div>
           <a href="">
              <div class='auction_TopForeF'>
                <span>正在进行</span>
             </div>
           </a>
        </div>
        <div class='auction_TopForeA'>
          <div class='auction_TopForeB'>
            <a href="">
              <img src="__STATIC__/public/img/TB2JgQig9JjpuFjy0FdXXXmoFXa_!!0-paimai.jpg_160x160.jpg" alt="">
            </a>
          </div>
          <div class='auction_TopForeC'>
            <a href="">
              《陋室铭》 纯狼毫 工艺美术
            </a>
          </div>
           <div class='auction_TopForeD'>
            <p>
              当前价: <span>￥2656</span>
            </p>
          </div>
           <div class='auction_TopForeE'>
            <p>
              距结束:
              <span class="ad">00</span>  
              <span class="ah">00</span>  
              <span class="am">00</span>  
              <span class="as">00</span> 
            </p>
          </div>
           <a href="">
              <div class='auction_TopForeF'>
                <span>正在进行</span>
             </div>
           </a>
        </div>
      </div>

    </div>
    <div class='clear'></div>
   </div>
    <div class='clear'></div>
    {include file='index/footer'}
</div>
</body>
<script>

</script>

</html>